h2 {
  font-size: 20px;
}
.btn {
  margin-top: 15px;
  padding: 10px;
  border-radius: 20px 20px;
  font-size: 15px;
  background-color: #418cef;
  color: #fff;
  border: none;
  box-shadow: 10px 20px 30px azure;
}
input {
  color: black;
  margin-bottom: 2px;
}
.i {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h3 {
  color: #01a8f3;
  font-size: 20px;
}
p {
  color: #202020;
}
.b {
  color: black;
}
body {
  margin-left: center;
  font-family: "Inter", sans-serif;

  font-family: "Roboto", sans-serif;

  font-family: "Source Sans Pro", sans-serif;
  box-shadow: 10px 20px 30px azure;
  background-color: azure;
}
label {
  font-weight: 600;
  font-size: 18px;
}
.btn:hover {
  color: black;
}
a {
  background-color: #418cef;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 20px 20px;
  padding: 12px;
}
.bl {
  margin-bottom: 20px;
}
